.keyview{
    height: 787px;
    width: auto;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true)no-repeat center center;
    background-size: cover;
    .keyview-wrap{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .newseries{
            font-size: 36px;
            color: $sub-fontcolor-darken;
        }
        .newseries-slogan{
            font-size: 64px;
            color: $sub-fontcolor-darken;
            font-weight: 700;
            margin-bottom: 4px;
        }
        .buy-btn{
            background-color: $main-background;
            padding: 6px 12px;
        }
    }
    @include mobile-md{
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true)no-repeat center center;
        background-size: cover;
    }
    @include mobile-sm{
        height: 396px;
        .keyview-wrap{
            .newseries{
                font-size: 16px;
            }
            .newseries-slogan{
                font-size: 24px;
            }
        }
    }
}
.service{
    background-color: $sub-background;
    text-align: center;
    .sevice-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -12px;
        margin-top: 24px;
        .service-card{
            width: 25%;
            padding: 0 12px;
            img{
                max-width: 100px;
                margin-bottom: 16px;
            }
            @include mobile-md{
                width: 50%;
            }
        }
        @include mobile-sm{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: -24px;
            .service-card{
                width: 100%;
                padding-bottom: 24px;
                img{
                    max-width: 100px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
.classic-series{
    text-align: center;
    .classic-series-list{
        display: flex;
        flex-wrap: wrap;
        margin: 48px -12px 0 -12px;
        .classic-series-card{
            width: 33.3%;
            padding: 0 12px;
            @include tablet{
                width: 100%;
                padding:0 0 24px 0;
                img{
                    max-width: 450px;
                }
            }
            h3{
                font-style: italic;
                font-weight: 700;
                font-size: 48px;
                margin-top: 8px;
                color: $main-background;
            }
        }
        @include mobile-md{
            margin: 48px 0 0 0;
            .classic-series-card{
                img{
                    max-width: 336px;
                }
            }
        }
        @include mobile-sm{
            margin: 24px 0 0 0;
            .classic-series-card{
                img{
                    max-width: 348px;
                }
            }
        }
    }
}
.designer-collabo{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true)no-repeat center center;
    background-size: cover;
    text-align: center;
    h2{
        color: $sub-fontcolor-lighten;
    }
    .designer-collabo-list{
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .designer-collabo-card{
            width: 50%;
            .pic-block-DOUBLEA{
                height: 240px;
                background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true)no-repeat center center;
                background-size: cover;
            }
            .pic-block-YOUTH{
                height: 240px;
                background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true)no-repeat center center;
                background-size: cover;
            }
            .series-name{
                font-size: 48px;
                background-color: $sub-fontcolor-lighten;
                color: $main-background;
                padding: 8px 0;
            }
        }
    }
    @include mobile-md{
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true)no-repeat center center;
        background-size: cover;
        .designer-collabo-list{
            gap: 24px 0;
            .designer-collabo-card{
                width: 100%;
            }
        }
    }
    @include mobile-sm{
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true)no-repeat center center;
        background-size: cover;
        text-align: center;
        .designer-collabo-list{
            margin-top: 24px;
            .designer-collabo-card{
                .pic-block-DOUBLEA{
                    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true)no-repeat center center;
                    background-size: cover;
                }
                .pic-block-YOUTH{
                    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true)no-repeat center center;
                    background-size: cover;
                }
            }
        }
    }
}
.recommend-list{
    margin: 48px -12px 0 -12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet{
        margin: 36px -12px -12px -12px;
    }
    .recommend-card{
        width: 25%;
        padding: 0 12px;
        @include tablet{
            width: 50%;
            padding: 12px;
        }
    }
    @include mobile-sm{
        margin: 12px 0 -12px 0;
        .recommend-card{
            width: 100%;
            padding: 12px 0;
        }
    }
    .shadow-frame{
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 4px;
    }
    .recommend-txt{
        height: 205px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .date{
            font-size: 14px;
            color: #707070;
        }
    }
}
.contactus{
    background-color: $sub-background;
}
.contactus-direction{
    width: 50%;
    margin: 48px auto 24px auto;
    @include tablet{
        width: 65%;
    }
    @include mobile-md{
        width: 100%;
    }
    @include mobile-sm{
        font-size: 16px;
    }
}
form{
    margin: 0 auto;
    max-width: 648px;
    display: flex;
    flex-direction: column;
    li{
        margin-bottom: 16px;
        label{
            display: block;
            margin-bottom: 8px;
        }
        input, textarea{
            width: 100%;
            background-color: $sub-background;
            border: 1px solid #000000;
            padding: 6px 12px;
            resize: none;
        }
    }
    .contract-agree{
        display: flex;
        align-items: center;
        input, label{
            width: auto;
            margin-bottom: 0;
        }
        @include mobile-md{
            align-items: flex-start;
        }
    }
    input[type=submit]{
        width: 64%;
        margin: 48px auto 0 auto;
        color: $sub-fontcolor-lighten;
        background-color: $main-background;
        padding: 16px 0;
        border: 0px;
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: $sub-fontcolor-darken;
        }
        @include mobile-md{
            width: 58.3%;
        }
        @include mobile-sm{
            margin-top: 24px;
            width: 100%;
        }
    }
}
