.container{
    max-width: 1320px;
    padding: 80px 12px;
    margin: 0 auto;
    @include mobile-md{
        max-width: 720px;
    }
    @include mobile-sm{
        padding: 40px 14px;
    }
}

.container-layout{
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
    @include mobile-md{
        max-width: 720px;
    }
    @include mobile-sm{
        padding: 0 14px;
    }
}

.title{
    font-size: 48px;
    font-weight: 700;
    color: $sub-fontcolor-darken;
    @include mobile-sm{
        font-size: 24px;
    }
}

.title-border-left-black-font{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    @include mobile-sm{
        font-size: 24px;
    }
}

.fz-42{
    font-size: 42px;
}
.fz-36{
    font-size: 36px;
}
.fz-32{
    font-size: 32px;
}
.fz-24{
    font-size: 24px;
}
.fz-20{
    font-size: 20px;
}
.fz-16{
    font-size: 16px;
}

.mb-8{
    margin-bottom: 8px;
}

.color-white{
    color: $sub-fontcolor-lighten;
}
.color-darken{
    color: $sub-fontcolor-darken;
}

.bold{
    font-weight: 700;
}
.medium{
    font-weight: 500;
}
.italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

